*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
body {
    font-family: var(--ff-primary);
    background: var(--clr-white);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
  }
  a {
    text-decoration: none;
  }
  /* img:not(.nav-logo) {
    width: 100%;
    display: block;
  } */
  img {
    width: 100%;
    display: block;
  }
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }
  /*  global classes */
  
  .btn {
    text-transform: uppercase;
    background: var(--clr-primary-5);
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    /* font-weight: 700; */
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
  .btn:hover {
    color: var(--clr-primary-1);
    background: var(--clr-primary-8);
  }

.hero{
    min-height: 100vh;
    background: var(--clr-primary-5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-banner{
    text-align: center;
    color: var(--clr-white);
    padding: 0.3rem;
}
.hero-banner h1 {
    text-transform: uppercase;
}
.hero-banner p {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--clr-white);
    letter-spacing: var(--spacing);
}
.hero-btn{
    padding: 0.9rem 1.6rem;
    font-size:1.5rem;
    background: var(--clr-white);
    color:var(--clr-grey-5);
   
    justify-content: center;
    align-items: center;

}
.hero-btn:hover{
    background: transparent;
    color: var(--clr-white);
    border-color: var(--clr-white);
}
@media screen and (min-width:768px) {
    .hero{
        background:linear-gradient(rgb(44,174,186,0.7) ,rgba(0,0,0,0.7)), url(./images/main.jpeg) center/cover;
        background-repeat: no-repeat;
    }
    .hero-banner{
      padding: 0;
    }
    .hero-banner{
        max-width: 45rem;
    }
}
/* about */
.section{
  padding: 5rem 0;
}
.setion-title{
  margin-bottom: 5rem;
}
.section-title h2 {
  text-transform: uppercase;
  margin-left: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.section-title span {
  color: var(--clr-primary-5);
}
.section-center {
  width:90vw;
  /* border: 5px solid red; */
  margin-left: 30px;
  align-items: center;
}
/* .about-img:hover{ */
  
/* border: 5px 2px 5px 3px solid var(--clr-primary-5);
padding: px;
display: inline-block;
background-size: cover;
margin-left: 20px;
z-index: 0;
background-size: cover;

} */
 .navbar{
  width: 100%;
  background: var(--clr-white);
  height:80px;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  position:sticky;
  top: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: 100px solid black;
 
  
}
@media screen and (max-width:390px ){
  .navbar{
    
        border-radius: 120px;
      
        border: 5px solid lightseagreen;
       
        position:sticky;
  }

}
.second-navbar{
  background:var(--clr-primary-10);
   display: flex;
   text-align: center;
   justify-content: space-evenly;
   border: 2px solid var(--clr-grey-9);
   border-radius: 5px;
  



}
  .about-photo{
    height: 100%;
    width: 100%;
  }


 @media screen and (min-width:992px) {
     .navbar {
       width:100%;
       margin: auto 0;
       padding: auto;
       
     }
  
 }

 a{
  color:var(--clr-primary-5);
 }


/* @media screen and (min-width:992px) {
  .about-center{
    display: flex;
    
  }
  .about-img,
  .about-info{
    flex: 0 0 calc(50% - 2rem)

  }
}

@media screen and (min-width:992px){
   .section-center{
    width: 800px;
   
   }

}
@media screen and (min-width:1170px) {
  .about-img::before{
    position: absolute;
    border: 5px solid var(--clr-primary-5);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
   top: -1.5rem;
   left:1.5rem ;

  }
  .about-img{
    position: relative;
  }
  
}

.button{
  margin:20px;
} */
.about-center {
  display: flex;
  margin-right: 2rem;
  margin-top: 5rem;
}
.about-info {
  margin-left: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width:1175px) {
.about-img{
  width:500px;
}
}
.section-title{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#services{
  background: var(--clr-grey-10);
  
}
.service{
  
  text-align: center;
  margin-bottom: 3rem;
  
}
.service-icon {
  background: var(--clr-primary-5);
  color: var(--clr-primary-1);
  font-size: 2rem;
  padding: 0.5rem;
  display: inline-block;
   margin-bottom: 1.5rem;
}
.service-text{
  max-width: 20rem;
  margin-right: auto;
  margin-left: auto;
}
@media screen and(min-width:992px){
   .services-center {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
   }

}
  
.tour-card{
    background: var(--clr-grey-10);
    position: relative;
    display:grid;
   
    box-sizing: border-box;
   height: 600px;
   width: 600px;
   border: 2px solid black;
    margin-bottom: 2rem;
    transition: var(--transition);
    text-align: center;
    justify-content: center;
  
}

.tour-img{
  height: 15rem;
  object-fit: cover;
  margin-right:20px;
}
.tour-date{
  background: var(--clr-primary-5);
  position: absolute;
  right:0;
  bottom: 0;
  margin-bottom:0;
  padding:0.25rem 0.5rem ;
  color: var(--clr-grey-3);
  text-transform: uppercase;
}
.tour-info{
  margin-left: 20px;
  
 
}
.tour-btn{
  
   align-items: center;
  
    color: white;

}
.tour-footer{
  line-height: 2rem;
  color: var(--clr-primary-5);
  justify-content: space-between;

}
footer{
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background:black;
  color: white;
  font-size: 1.5rem; 
  height: fit-content;
  padding: 20px;
  
  /* background-image: url(./images/logo.svg); */
  /* background-size: 100px; */
}

.footer{
  margin-left: 2rem;
  font-size: 20px;
 
 
}
.logo{
  color: aliceblue;
   font-size: 2rem;
  padding: 2rem;
  float: left;
  margin-left: 7rem;
  
}
@media screen and (width:390px) {
  footer{
  height: fit-content;
  display: block;
  padding: 10px;
  padding-left: 10px;
  }
  
}
